[Desktop Entry]
Version=1.0
Type=Application
Name=Corese-Gui
GenericName=Graphical Semantic Web Platform
Comment=Interact with RDF data and SPARQL queries through a graphical interface.
Categories=Science;ComputerScience;
Icon=fr.inria.corese.CoreseGui
Exec=/app/bin/run.sh
Terminal=false
StartupNotify=false
Keywords=semantic web;RDF;SPARQL;OWL;SHACL;LDScript;STTL;SPARQL Rule;SPARQL*;RDF*;SPARQL Query;SPARQL Graph;SHACL Validation;
X-GNOME-FullName=Corese-Gui
DBusActivatable=false
